body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6900d1, #91127A);
    height:615px;
}
.main{
    border: 0px solid #000;
    height: 380px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: 5px 5px 16px #c6c5c8;
}

section {
    width: 60%;
    float: left;
    height: inherit;
    border: 0px solid #000;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: #fff;
}

.rightside {
    width: 40%;
    float: left;
    border-left: 1.5px solid #000;
    height: inherit;
    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*navbar*/
.navbar {
    padding-top: 15px;
    border: 0px solid #fff;
    padding-right: 40px;
    padding-left: 20px;
}

.nav-item {
    margin-left: 40px;
    margin-bottom: 10px;
}

.navbar h4 {
    color: white;
    font-size: 35px;
    font-weight: 50px;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: #fff !important;
    font-size: 16px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
}

.navbar img {
    width: 80px;
    padding: 0 0 10px 10px;
}

.navbar-toggler {
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
}

.nav-link:hover {
    border-bottom: 2px solid #fff;
}

/*login*/

.img1{
    padding-left: 75px;
    padding-top: 10px;
}

.loginbox {
    width: 310px;
    height: 350px;
    background: #fff;
    border: 0px solid red;
    color: #000;
    margin-top: 15px;
    margin-left: 25px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 35px;
    border-radius: 10px;
    text-align: center;
}

.loginbox h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 8px;
}

.two, .three{
    border: 0px solid #000;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 8px;
    width: 250px;
}

.loginbox input {
    margin-bottom: 10px;
    border-radius: 3px;
}

.loginbox input[type="text"], input[type="password"] {
    border: 0px solid #000;
    border-radius: 15px;
    background: #c6c5c8;
    outline: none;
    height: 35px;
    color: #000;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.login_btn {
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 10px;
    background: #fff;
    color: #000;
    padding: 6px 14px;
    font-size: 14px;
    height: 40px;
    margin-left: -10px;
}

.four{
    margin-top: 20px;
    margin-bottom: 10px;
}

.login_btn:hover {
    text-decoration: none;
    border: none;
    background: linear-gradient(135deg, #6900d1, #91127A);
    color: #fff;
}

.five{
    margin-top: 5px;
    margin-left: -100px;
}

.signup_btn {
    text-decoration: none;
    border: 0px solid #000;
    border-radius: 10px;
    background: #fff;
    color: #000;
    padding: 6px 10px;
    padding-left: -2px;
    font-size: 14px;
    height: 40px;
    margin-left: -10px;
    text-align: center;
}

.six {
    margin-top: -25px;
    margin-bottom: 15px;
    margin-left: 150px;
}

.signup_btn:hover {
    text-decoration: underline;
    border: none;
    background: #fff;;
    color: #000;
}